@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Inter", sans-serif;
}

.font-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.text-light-black {
    color: #4D4D4D;
}

.dark-Cyan {
    color: #076787;
}

.dark-black {
    color: #000000;
}

footer li:hover {
    color: rgb(216, 212, 212);
}

.library-shadow {
    box-shadow: 0px 26px 27px 0px #0000000A;
}

.primary-shadow {
    box-shadow: 0px 3.6px 20.69px 0px #0000001A;
}

.prevarrow:hover {
    background: #076787;

    svg path {
        fill: white !important;
    }
}

.healthcare-box {
    box-shadow: 0px 13px 18px 0px #0000000F;
}

.nextarrow:hover {
    background: #076787;
    svg path {
        fill: white !important;
    }
}

/* ======================== slider - 1 =================================== */

.features-sec .slick-slide {
    margin-left: 35px;
    max-width: 490px;
}

.features-sec .slick-track {
    padding-left: 70px;
}

/* ======================== slider - 2 ================================= */
.sports-section .slick-track {
    display: flex !important;
    gap: 22px !important;
}

.sports-section .second-row-slider .slick-list {
    padding-right: 156px !important;
    padding-left: 0 !important;
}

.sports-section .second-row-slider .slick-track {
    gap: 50px !important;
    display: flex !important;
    min-height: 144px !important;
    align-items: center !important;
}

.sports-section .second-row-slider .slick-track .slick-current {
    scale: 1.3;
    border-radius: 24px !important;
}

/* ========================================================================= */
@media (max-width:991.99px) {
    .features-sec .slick-track {
        padding-left: 13px;
    }

    .features-sec .slick-slide {
        margin-left: 14px;
        margin-right: 14px;
    }
    .sports-section .second-row-slider .slick-list {
        padding-right: 156px !important;
        padding-left: 150px !important;
    }
}

@media (max-width:767.99px) {
    .features-sec .slick-track {
        padding-left: 0px;
    }
    .sports-section .second-row-slider .slick-list {
        padding-right: 119px !important;
        padding-left: 124px !important;
    }
}

@media (max-width:1440.99px) {
    .features-sec .slick-track {
        padding-left: 94px;
    }
}